package home

import "github.com/alexesp/Go_Templ_HTMX.git/internal/view/layout"

templ Index() {
    @layout.Base(layout.BaseProps{Title: "Home page"}){
<h1>Hello, Go!</h1>
<h1>Hello, Go!</h1>
    }
    
}